.submit-button {
    box-sizing: border-box;
    background-color: blue;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    padding: 12px 40px;
    cursor: pointer;
}

.confirm {
    background-color: red;
}
